*, ::after, ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
      
      
}
body{
    background-image: url("https://pizzahut.co.in/_next/static/static/images/app-bg.9637f025c0a8602011051ed056e61616.jpg");
}
.card{
    margin:48px 8px 0px
}
.card-title{
   
        font-size: 1.07rem;
        font-family: 'SharpSansSemiBold';
      
        font-weight: 800 ;

}
.card-text{
    height: 121px;
    width: 226px;
}

.btn{
    font-weight: 600;
    margin-top: 32px;
    background: #0A8020;
    color: white;
    text-align: center;
    padding: 12px 16px;
    border-radius: 6px;
    -webkit-transition: background 0.1s;
    transition: background 0.1s;
    font-size: 1rem;
    box-shadow: none;
    border-width: 0px;
    display: block;
    width: 100%;
    margin-bottom: auto;
    cursor: pointer;
}
.nav{
    background: white;
    z-index: 1;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 5%);
    border: 0 solid rgb(230,232,235);
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.nav-link{
    height:4em ;
    width: 14em;
    border: 1px solid black;
    color: black;
    font-weight:500;
   
    
}
.nav-item{
    border: 1px solid rgb(230,232,235);
}
.a{
    padding-top: 1em;
}
.nav-link:hover{
    color: white;
    background: url("https://pizzahut.co.in/_next/static/static/images/nav-highlighted-background.945fe766d47932d6526b3ad6015cd1c3.jpg") no-repeat;
}


.header{
    margin:10em ;
    height:53px ;
}
.header img{
    margin: 1em;
}
.cards{
    transition: all 0.5s ease;
  }
  .card:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  }
  /* footer */

  footer{
    background-color: #000000; 
  }
  footer p{
    color: #3B6A7B;
    font-size:11px;
    margin-bottom:-50px ;
  }
  .icon-white{
    color: white;
  }
 